.content {
    border-radius: 5px;
    background-color: var(--main-color);
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.content__title {
    max-width: 500px;
    margin-bottom: 20px;
}